
.main {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin: 0px;    

}
.show{
    background-color: rgb(0, 94, 128);
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.show{
    animation: pules 1.5s infinite;
}
@keyframes pules{
0%{
transform: calc(1, 1);
}
50%{
opacity: 0.1s;
}
100%{
    transform: calc(1, 5);
    opacity: 0;
}
}
.show{
    background-color: green;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.show{
    animation: pules 1.5s infinite;
}
@keyframes pules{
0%{
transform: calc(1, 1);
}
50%{
opacity: 0.1s;
}
100%{
    transform: calc(1, 7);
    opacity: 0;
}
}
.show1{
    background-color: rgb(0, 94, 128);
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.show1{
    animation: pules 1.5s infinite;
}
@keyframes pules{
0%{
transform: calc(1, 1);
}
50%{
opacity: 0.1s;
}
100%{
    transform: calc(1, 6);
    opacity: 0;
}
}
.show2{
    background-color: red;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.show2{
    animation: pules 1.5s infinite;
}
@keyframes pules{
0%{
transform: calc(1, 1);
}
50%{
opacity: 0.1s;
}
100%{
    transform: calc(1, 4);
    opacity: 0;
}
}